@import url(https://fonts.googleapis.com/css?family=Montserrat:400);
*{
    box-sizing: border-box;
}
.container-fluid{
    height: 120vh;
} 
.main-section{
    width: 500px;
    max-width: 600px;
    background-color: white;
    border-radius: 10px;
    font-size: 18px;
    box-shadow: rgba(0, 0, 0, 0.2) 0 20px 20px;
    font-family: "Montserrat", sans-serif;
}
.my-row{
    height: 700px;
}
.my-col{
    height:300px;
    width:400px;
}

.my-btn{
    width: 100px;
    font-size: 15px;
}

.my-url{
    text-decoration: none;
}

.my-url:hover{
    cursor: pointer;
    color:red;
}

.btn{
    background-color: grey;
    border: 1px solid yellow;
    width: auto;
}
.btn:hover{
    cursor: pointer;
    transform: translateY(-2px);
}

.task-input{
    width:500px;
    height: 50px;
    border: 1px solid lightgray;
    border-radius: 5px;
}
::placeholder{
    color:lightgray;
    opacity: 1;
}

input:focus{
    outline: none;
    border: 1px solid purple;
}

.no-tasks > h5{
    font-size: 2vw;
}

.has-error {
	box-shadow: 0 0 4px red;
}

.has-success {
	box-shadow: 0 0 4px #09C372;
}