
<nav class="navbar navbar-light justify-content-center cust">
<div class="container-fluid">
    <a class="navbar-brand" routerLink="">
        URL Shortner
    </a>
    <ul class="nav mx-auto">
        <li class="nav-item">
            <a class="nav-link active cust1" aria-current="page" routerLink="shortner">Create Short Url</a>
        </li>
        <li class="nav-item">
            <a class="nav-link cust1" routerLink="login">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link cust1" routerLink="register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link cust1" routerLink="dashboard">Dashboard</a>
        </li>
    </ul>
</div>
</nav>