<div class="p-3 mb-1 text-clr div-bg">
    <div class="d-flex justify-content-between">
       <h4>TOTAL LINKS: <span class="highlight">{{urlList.length}}</span></h4>
       <h4>Total Clicks</h4>
    </div>
 </div>
 <div class="scrollable">
    <div *ngFor="let url of urlList; index as i">
       <div class="url-link">
          <div class="p-3 mb-1 text-clr div-bg">
             <div>{{url.createdAt}}</div>
             <div class="full-link">{{url.fullURL}}</div>
             <div class="d-flex justify-content-between">
                <a (click)="redirectTo(url.fullURL,url.id,i)" class="url-key">{{url.key}}</a>
                <h5>{{url.totalClicks}}</h5>
             </div>
          </div>
         </div>
    </div>
 </div>